@background-color-body: #fff;
@body-color: #666666;
@a-hover-color: #ddd;

.trans(@arg) {
    -webkit-transition: @arg;
    -moz-transition: @arg;
    -o-transition: @arg;
    transition: @arg;
}

.transform(@arg) {
	-moz-transform: rotate(@arg); /* Для Firefox */
    -ms-transform: rotate(@arg); /* Для IE */
    -webkit-transform: rotate(@arg); /* Для Safari, Chrome, iOS */
    -o-transform: rotate(@arg); /* Для Opera */
    transform: rotate(@arg);
}

body {
  background: @background-color-body;
  color: @body-color;
}

#container {
	max-width: 800px;
	min-width: 600px;
}

.navbar {
    background: #fff;
    padding: 20px 0;
    margin: 0 auto;
    border: none;
}


.logo a {
    min-height: 50px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 700;
    font-size: 30px;
    text-transform: none;
    line-height: 50px;
    padding: 0 0 0 20px;
}

.logo .span-grey {
	color: #444;
}

.logo .span-green {
	color: #409F89;
}

a {
    font: 16px proxima-nova,sans-serif;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    text-decoration: none;
    .trans(all .2s ease-in-out);
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    margin: 0;
    padding: 0;
}

#menu li a {
	font-size: 15px;
}

#menu li a:visited {
	color: #777;
}

#menu li a:hover {
	color: #ddd;
}

#main {
	float: left;
	width: 100%;
	overflow: hidden;
	border-top: 1px solid rgba(0, 0, 0, 0.2);
}
.group-menu-container, .group-item-container {
	float: left;
	position: relative;
	width: 100%;
	z-index: 10;
	background: #fff;
}
.group-menu {
	float: left;
	width: 100%;
	height: 50px;
	margin: 25px;
}

.group-menu-item {
	float: left;
	width: 50px;
	height: 50px;
	margin: 0 10px;
}

.group-menu-item >div {
	width: 100%;
	height: 100%;
	opacity: 0.5;
	.trans(all .2s ease-in-out);
}

.group-menu-item >div:hover {
	opacity: 0.8;	
}

.add-group {background: url(add_group.png) no-repeat 0 0;}
.list {background: url(list.png) no-repeat 0 0;}
.tile {background: url(tile.png) no-repeat 0 0;}
.back-group {background: url(back.png) no-repeat 0 0;}
.add-people {background: url(add_people.png) no-repeat 0 0;}
.add-event {background: url(add_event.png) no-repeat 0 0;}
.change-status-event {background: url(change_status_event.png) no-repeat 0 0;}
.participate-in-event {background: url(participate_in_event.png) no-repeat 0 0;}
.status-participant-1 {background: url(check.png) no-repeat 0 0;}
.status-participant-0 {background: url(cross.png) no-repeat 0 0;}
.add-food {background: url(add_food.png) no-repeat 0 0;}
.rem-food {background: url(rem_food.png) no-repeat 0 0;}

.group-form-container {
	float: left;
	position: relative;
	top: -200px;
	width: 100%;
	height: 0px;
	.trans(all .5s ease-in-out);
}

.group-form-container-show {
	top: 0px;
	height: 200px;
}

.form-create-group {
	float: left;
	width: 250px;
	margin: 0 25px;
}

.input-group-addon {
	cursor: pointer;
}

.logo-group-modal {
	margin: 4px;
	cursor: pointer;
}

#group-list, #resto-list {
	float: left;
	width: 100%;

	.group-list-item {
		float: left;
		position: relative;
		width: 300px;
		height: 130px;
		margin: 5px;
		cursor: pointer;
	    border: 1px solid #f0f0f0;
	    background: #fff;
	    .trans(all .4s ease-in-out);
	    
	    
	    .group-list-name {
			float: left;
			width: ~"calc(100% - 130px)";	
			margin: 10px 0 10px 10px;
			.trans(all .5s ease-in-out);
		}

		.group-list-img {
			float: left;
			width: 100px;
			margin: 10px;
		}

		h1, p {
			float: left;
			width: 100%;
			opacity: 0.8;	
		}
	}
	.group-list-item:hover {
		border: 1px solid #000;
		.group-list-name {
			color: #000;
		}
	}
}

#group-item {
	float: left;
	width: 100%;	

	.group-item-name {
		float: left;
		width: ~"calc(100% - 100px)";	
		height: 100px;
		border-top: 1px solid #f0f0f0;
		border-bottom: 1px solid #f0f0f0;
	}

	.group-item-img {
		float: left;
		width: 100px;
	}

	h1, p {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
		opacity: 0.8;	
	}
}

.users-list {
	float: left;
	margin-top: 20px;
	
	.users-members {
		margin: 0 0 0 50px;
	}
	
	.group-members, .users-members {
		float: left;
		width: 240px;
		border: 1px solid #f0f0f0;
		
		h3 {
			text-align: center;
			background: #f0f0f0;
			margin: 0;
	    	padding: 0;
		}

		.controll-btn {
			position: absolute;
			top: 50%;
			margin: -12px 5px 0;
			width: 25px;
			height: 25px;
			opacity: 0;
			cursor: pointer;
			.trans(all .5s ease-in-out);
		}
		.controll-btn-show {
			opacity: 0.7;
		}
		.controll-btn-show:hover {
			opacity: 1;
		}
	}
}

#users-members-list, #group-members-list {
	float: left;
	width: 100%;
	border-left: 1px solid #f0f0f0;
	
	ul {
		float: left;
		width: 100%;
		margin: 0;
		padding: 0;
	}
	ul .li-users-list, ul .li-memberships-list {
		float: left;
		position: relative;
		width: 100%;
		box-sizing: border-box;
		padding: 3px 5px 3px 0;
		margin: 0;
		border-bottom: 1px dashed #000;
		cursor: pointer;
		list-style-type: none;
	}

	ul .li-memberships-list {
		padding: 3px 0 3px 5px;
	}

	.li-selected {
		background: rgba(202, 255, 193, 0.7);
	}

	.add-in-group {
		background: url(add_in_group.png) no-repeat 0 0;			
	}

	.name-users, .post-users {
		float: left;
		width: 100%;
		padding: 0 0 0 35px;
	}
	.name-users {
		font-size: 16px;
	}	
	.post-users {
		font-size: 10px;
	}	
}

#group-members-list {
	.li-selected {
		background: rgba(255, 117, 128, 0.7);
	}
	.controll-btn {
		right: 0px;
	}
	.rem-in-group {
		background: url(rem_in_group.png) no-repeat 0 0;			
	}
	.name-users, .post-users {
		padding: 0 35px 0 0;
	}
}

#resto-title {
	float: left;
	width: 210px;
	padding-top: 40px;
	box-sizing: border-box;
	border-right: 1px solid rgba(0, 0, 0, 0.2);
		
	.resto-title-img {
		float: left;
		position:relative;
		width: 100px;
		
		.event-title-banner {
			position: absolute;
			width: 60px;
			height: 39px;
			top: -37px;
			background: url(pizzaday.png) no-repeat 0 0;		
		}
	}

	.resto-title-event {
		float: left;		
		width: 109px;
		height: 100px;
		padding: 17px 5px 0 5px;
		text-align: center;
		font-weight: bold;
		
		.event-state-ordering { 
			color: #0787FF;
			border: 2px solid #0787FF;
			border-radius: 5px;
			.transform(-15deg);
		}
		.event-state-ordered {
			color: #89FFD3;
			border: 2px solid #89FFD3;
			border-radius: 5px;
			.transform(-15deg);
		}
		.event-state-delivering {
			color: #FFFA00;
			border: 2px solid #FFFA00;
			border-radius: 5px;
			.transform(-15deg);
		}
		.event-state-delivered {
			color: #FF0015;
			border: 2px solid #FF0015;
			border-radius: 5px;
			.transform(-15deg);	
		}
	}

	.resto-title-name {
		float: left;
		width: 100%;
		
		h4 {
			float: left;
		    width: 100%;
		    margin: 0;
		    padding: 0;
		    opacity: 0.8;
		}
		p {
		    float: left;
		    width: 100%;
		    margin: 0;
		    padding: 0;
		    opacity: 0.8;
		}
	}

	.resto-participants {
		float: left;
		width: 100%;
		margin: 20px 0 0 0;
		
		h4 {
			text-align: center;
			background: #f0f0f0;
			margin: 0;
			padding: 5px 0;
		}

		ul {
			float: left;
			width: 100%;
			margin: 0;
			padding: 0;
		}
		ul .li-participant-list {
			float: left;
			width: 100%;
			height: 25px;
			box-sizing: border-box;
			padding: 0;
			margin: 0;
			border-bottom: 1px dashed #000;
			cursor: pointer;
			line-height: 25px;
			list-style-type: none;
			
			.name-participant {
				float: left;
				width: ~"calc(100% - 25px)";					
				padding: 0; margin: 0;
			}
			.status-participant {
				float: left;
				width: 25px;
				height: 25px;
				padding: 0; margin: 0;
			}
		}
	}
}

#resto-menu {
	float: left;
	width: ~"calc(100% - 220px)";	
	margin: 0 0 0 10px; 
	
	.resto-menu-container {
		float: left;
		width: 100%;
		
		h4 {
			text-align: center;
		    background: #f0f0f0;
		    margin: 0;
		    padding: 5px 0;
		}
		.resto-offer-menu {
			float: left;
			width: 100%;		
			margin: 0 0 10px 0;
			
			ul {
				float: left;
				margin: 0;
				padding: 0;
			}

			ul li {
				float: left;
				position: relative;
				padding: 5px 0;
				width: 100%;
				list-style-type: none;
			    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
			    
			    p {
					margin: 0;
					padding: 0;
			    }
				
				.food-item-name {
					float: left;
					width: 100%;
					font-size: 16px;
				}
				.food-item-other {
					float: left;
					width: 50%;	
					font-size: 12px;
				}
				.add-food-in-resto-order {
					position: absolute;
					width: 25px;
					height: 25px;
					right: 0;
				    top: 11px;
				    opacity: 0;
				    cursor: pointer;
				    .trans(all .2s ease-in-out);
				}
			}
			ul li:hover {
				.add-food-in-resto-order {
					opacity: 0.5;	
				}
			}
			
			.resto-menu-container {
				float: left;
				width: 100%;
				border-top: 1px solid rgba(0, 0, 0, 0.2);
				border-bottom: 1px solid rgba(0, 0, 0, 0.2);
				
				a {
					float: left;
					width: 120px;
					color: #777;
					text-align: center;
    			    font-size: 16px;
    			    .trans(all .1s ease-in-out);
				}
				a:hover {
					color: #ddd;
				}

			}
		}
		

		.group-order {
			float: left;
			width: 100%;
			
			ul {
				float: left;
				width: 100%;
				margin: 0;
				padding: 0;
			}

			ul li {
				float: left;
				position: relative;
				width: 100%;
				height: 25px;
				list-style-type: none;
			    border-bottom: 1px dashed rgba(0, 0, 0, 0.2);
			    line-height: 25px;
			    
			    p {
					margin: 0;
					padding: 0;
					text-align: center;
			    }
			    
			    .general-count, .personal-count, .food-item-price {
			    	float: left;
			    	width: 15%;
			    	box-sizing: border-box;
			    	border-right: 1px solid rgba(0, 0, 0, 0.2);
			    }
			    .food-item-name {
			    	float: left;
			    	width: 55%;	
			    	box-sizing: border-box;
			    	text-align: left;
			    }
			    .rem-food-in-resto-order {
			    	position: absolute;
					width: 25px;
					height: 25px;
					right: 0;
				    top: 0;
				    opacity: 0;
				    cursor: pointer;
				    .trans(all .2s ease-in-out);
			    }
		    }
		    ul li:hover {
				.rem-food-in-resto-order {
					opacity: 0.5;	
				}
			}
			ul li:first-child {
				height: 40px;
				line-height: inherit;
				
				p {
					height: 100%;
				}
				.food-item-name {
			    	text-align: center;
			    }
			}

			ul li:last-child {	
				font-weight: bold;
			}
		}
		

	}
}

#errors{
	position: fixed;
	z-index: 10000;
	padding: 10px;
	top: 100px;
	left: 0px;
	right: 45px;
	bottom: 0px;
	pointer-events: none;
		
	.alert {
		animation: fadeOut 2700ms ease-in 0s 1 forwards;
		-webkit-animation: fadeOut 2700ms ease-in 0s 1 forwards;
		-moz-animation: fadeOut 2700ms ease-in 0s 1 forwards;
		width: 250px;
		float: right;
		clear: both;
		margin-bottom: 5px;
		pointer-events: auto;
		border: 1px solid #FF0000;
		border-radius: 5px;
		background: rgba(255, 0, 0, 0.4); 
	}
}
