<template name="groupItem">
	<div class="group-menu-container">
		<div class="group-menu">
			<a href="{{pathFor 'groups'}}" title="back" class="group-menu-item">
				<div class="back-group"></div>
			</a>
		</div>	
	</div>

	<div id="group-item">
		<div class="group-item-name">
			<h1>{{group.name}}</h1>
			<p>Author: {{group.author}}</p>
		</div>
		<div class="group-item-img">
			<img src="../{{group.url}}"/>
		</div>
	</div>

	<div class="users-list">
		{{#if ownPost}}
			<div class="group-members">
				<h3>Members list</h3>
				<div id="group-members-list" class="group-members-list">
					<ul>
						{{#each group.memberships}}
							{{> membershipsList}}
						{{/each}}
					</ul>	
				</div>
			</div>

			<div class="users-members">
				<h3>Users list</h3>
				<div id="users-members-list" class="users-members-list">
					<ul>
						{{#each userlist}}
							{{> usersList}}
						{{/each}}
					</ul>	
				</div>
			</div>
		{{/if}}
	</div>
</template>