<template name="restoItem">
	<div class="group-menu-container">
		<div class="group-menu">
			<a href="{{pathFor 'resto'}}" title="back" class="group-menu-item">
				<div class="back-group"></div>
			</a>
			{{#if ownPost}}
				<a href="" id="add-event" title="add event" class="group-menu-item">
					<div class="add-event"></div>
				</a>
				{{#if event}}
					<a href="" id="change-status-event" title="change status event" class="group-menu-item">
						<div class="change-status-event"></div>
					</a>
				{{/if}}
			{{/if}}
			{{#unless ownPost}}
				<a href="" id="participate-in-event" title="participate" class="group-menu-item">
					<div class="participate-in-event"></div>
				</a>
			{{/unless}}
		</div>	
	</div>

	<div id="resto-title">
		<div class="resto-title-img">
			<img src="../{{resto.url}}"/>
			{{#if event}}
				<div class="event-title-banner"></div>
			{{/if}}
		</div>
		<div class="resto-title-event">
			{{#if event}}
				<p class="event-state-{{state}}">{{state}}</p>
			{{/if}}
		</div>
		<div class="resto-title-name">
			<h4>{{resto.name}}</h4>
			<p>Author: {{resto.author}}</p>
		</div>
		<div class="resto-participants">
			<h4>Participants</h4>
			<ul>
				{{#each resto.memberships}}
					{{> restoParticipant}}
				{{/each}}
			</ul>	
		</div>
	</div>
</template>