<template name="eventCreate">
  <form class="form-create-group">
    <div class="form-group">
      <label class="control-label" for="date-event">Date</label>
      <div class="controls">
        <input name="date-event" type="text" class="form-control" id="date-event">
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="state-event">State</label>
      <div class="controls">
        <input name="state-event" type="text" class="form-control" id="state-event" value="ordering" disabled="disabled">
      </div>
    </div>
	<div class="form-group">
		<label class="control-label" for="group-event">Group</label>
		<div class="controls">
        <input name="group-event" type="text" class="form-control" id="group-event" value="{{resto.name}}" disabled="disabled">
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <input type="reset" value="Cansel" class="btn btn-default"/>
  </form>
</template>