<template name="addCoworkers">
	<form class="form-create-coworkers">
    <div class="form-group">
      <label class="control-label" for="name-coworkers">Name</label>
      <div class="controls">
        <input name="name-coworkers" id="name-coworkers" type="text" value="" placeholder="Ivan" class="form-control"/>
      </div>
    </div>
    <div class="form-group">
      <label class="control-label" for="name-post">Logo</label>
      <div class="input-group">
        <input name="name-post" id="name-post" type="text" value="" placeholder="janitor" class="form-control"/>
      </div>
    </div>
    <input type="submit" value="Submit" class="btn btn-primary"/>
    <input type="reset" value="Cansel" class="btn btn-default"/>
  </form>
  {{_id}}
</template>